/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-font:IBM Plex mono;
  --main-title-color:#DB00FF;
  --bg-color: #000028;
  --text-color:#F1B2CE;
  --accent-color:#FF0070;
  --text-title-color:#FF0070;
  --title-color: #000028;
  --btn-hover-color: rgba(255, 0, 112, 0.4);
  --btn-active:rgb(255, 0, 112);
  color-scheme: dark;
  background-image: url(../images/cover-image-dark.png); 
}


.theme_dark .header__element {
  display: block;
}



@media (prefers-color-scheme: dark) {
  :root {
    --main-font:IBM Plex mono;
    --main-title-color:#DB00FF;
    --bg-color: #000028;
    --text-color:#F1B2CE;
    --accent-color:#FF0070;
    --text-title-color:#FF0070;
    --title-color: #000028;
    --btn-hover-color: rgba(255, 0, 112, 0.4);
  --btn-active:rgb(255, 0, 112);
    color-scheme: dark;
  }


 .page {
    background-image: url(../images/cover-image-dark.png); 
 } 

 .header__element {
  display: block;
}

}