/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* Переменные светлой темы */
  --main-font: IBM Plex mono;
  --main-title-color: #FFC2E6;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #353430;
  color-scheme: light;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__theme-menu-button_active{
  border: 1px solid rgb(53, 52, 48);
  pointer-events: none;
}

.theme_light .header__theme-menu-item:hover{
  border: 1px solid rgba(50, 49, 45, 0.4);
}


.theme_light .decorated-zone::after {
  border-right: 1px solid rgb(53, 52, 48);
  border-top: 1px solid rgb(53, 52, 48);
}

.theme_light .decorated-zone::before{
  border-bottom: 1px solid rgb(53, 52, 48);
  border-left: 1px solid rgb(53, 52, 48);
}

.theme_light .header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: none;
}

.theme_light .header__theme-menu-button:not(.header__theme-menu-button_active):hover{
  border: 1px solid rgba(50, 49, 45, 0.4);
}


.theme_light .header__element {
  display: none;
}

.theme_light button{
  color: #353430;
}

.theme_light .main__title{
  color: #353430;
}

.theme_light .main__link {
  color: #353430;
  text-shadow: 4px 4px 0 #FF8DCB;
}

.theme_light .main__link:hover{
  text-shadow: 3px 3px 0 #FF8DCB;
}


@media (prefers-color-scheme: light) {
  :root {
      --main-font: IBM Plex mono;
      --main-title-color: #FFC2E6;
      --text-color: #353430;
      --accent-color: #FF8DCB;
      --title-color: #353430;
      color-scheme: light;
  }

  


}