/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* Переменные светлой темы */
  --main-font: IBM Plex mono;
  --main-title-color: #FFC2E6;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #353430;
  --text-title-color:#353430;
  --btn-hover-color: rgba(50, 49, 45, 0.4);
  --btn-active:rgb(53, 52, 48);
  color-scheme: light;
  background-image: url(../images/cover-image-light.png);
}


.theme_light .header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: none;
}

.theme_light .header__element {
  display: none;
}



@media (prefers-color-scheme: light) {
  :root {
      --main-font: IBM Plex mono;
      --main-title-color: #FFC2E6;
      --text-color: #353430;
      --accent-color: #FF8DCB;
      --title-color: #353430;
      --text-title-color:#353430;
      --btn-hover-color: rgba(50, 49, 45, 0.4);
      --btn-active:rgb(53, 52, 48);
      color-scheme: light;
     
  }

 .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__element {
    display: none;
  }

}