/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* Переменные светлой темы */
  --main-font: IBM Plex mono;
  --main-title-color: #FFC2E6;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #353430;
  color-scheme: light;
}

.theme_light .header__theme-menu-button_active{
  border: 1px solid rgb(53, 52, 48);
}

.theme_light .header__theme-menu-item:hover{
  border: 1px solid rgb(53, 52, 48);
}


.theme_light .decorated-zone::after {
  border-right: 1px solid rgb(53, 52, 48);
  border-top: 1px solid rgb(53, 52, 48);
}

.theme_light .decorated-zone::before{
  border-bottom: 1px solid rgb(53, 52, 48);
  border-left: 1px solid rgb(53, 52, 48);
}

.theme_light .header__element {
  display: none;
}

.theme_light button{
  color: #353430;
}

.theme_light .main__title{
  color: #353430;
}

.theme_light.main__link {
  text-shadow: 4px 4px 0 #FF8DCB;
}

.theme_light.main__link:hover{
  text-shadow: none;
  text-shadow: 0px 0px 0 #FF8DCB;
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
  Так стили написанные ниже будут иметь больший вес,
  чем стили в медиазапросе предпочтений пользователя
*/
  background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  .theme_auto:root {
      --main-font: IBM Plex mono;
      --main-title-color: #FFC2E6;
      --text-color: #353430;
      --accent-color: #FF8DCB;
      --title-color: #353430;
      color-scheme: light;
  }

  


}